/* Container for the entire student login component */
.student-login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/Background.webp') no-repeat center center/cover;
  filter: blur(10px);
  z-index: -1;
}

.content {
  z-index: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't overflow the container */
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.MuiTextField-root .MuiOutlinedInput-root {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.MuiButton-root {
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 0;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.MuiAlert-root {
  margin-top: 16px;
}

/* Media Queries for Responsiveness */

/* When the screen width is smaller than 768px (tablets and mobile devices) */
@media (max-width: 768px) {
  .student-login-container {
    padding: 10px;
    height: auto; /* Allow for height to adjust based on content */
  }

  .content {
    max-width: 100%; /* Let the content take up more space on smaller devices */
    margin: 0 10px; /* Add some margin on the sides for better spacing */
  }

  .title {
    font-size: 1.25rem; /* Make the title smaller for smaller screens */
  }

  .form {
    gap: 10px; /* Reduce the gap between form elements */
  }

  .MuiTextField-root .MuiOutlinedInput-root {
    font-size: 0.875rem; /* Adjust font size of inputs for smaller screens */
  }

  .MuiButton-root {
    padding: 8px 0; /* Adjust button padding for smaller screens */
    font-size: 0.875rem; /* Reduce font size of the button */
  }
}

/* When the screen width is smaller than 480px (very small mobile devices) */
@media (max-width: 480px) {
  .student-login-container {
    padding: 5px;
  }

  .content {
    max-width: 100%;
    padding: 15px; /* Add more padding for very small screens */
  }

  .title {
    font-size: 1.125rem; /* Make the title slightly smaller */
  }

  .form {
    gap: 8px; /* Even smaller gap between form elements */
  }

  .MuiTextField-root .MuiOutlinedInput-root {
    font-size: 0.75rem; /* Further reduce font size of inputs */
  }

  .MuiButton-root {
    padding: 8px 0; /* Adjust button padding for very small screens */
    font-size: 0.875rem; /* Adjust font size for small screens */
  }
}
